body{
    background-color: rgb(209, 215, 215);
}
#mainTable{
    width:500px;
    border:2px solid rgb(120, 114, 114);
    border-radius: 5px;
    background-color: rgb(179, 173, 173);
    color: rgb(62, 59, 59);
}

#calcTable {
    width:240px; 
    height:360px;
    border:2px solid rgb(75, 72, 72);
    border-radius: 5px;
    background-color: rgb(145, 140, 140);
  }

.clacButton{
      width: 60px;
      height: 80px;
      font-size: 24px;
      border-radius: 5px;
      background-color: rgb(217, 221, 223);
  }

.operationType{
    width: 60px;
      height: 80px;
      font-size: 24px;
      border-radius: 5px;
      background-color: rgb(146, 155, 120); 
}
  
#entryField{
    width: 182px;
    height: 40px;
    font-size: 20px;
    border:1px solid rgb(75, 72, 72);
    border-radius: 5px;
    background-color: rgb(244, 239, 239);
    text-align: right;
    padding-right: 8px;
}

#clearValues{
    width: 60px;
    height: 45px;
    font-size: 24px;
    border-radius: 5px;
    background-color: rgb(222, 139, 76);
}

#lastCalculation{
    width: 245px;
    height: 25px;
    font-size: 18px;
    color: rgb(233, 227, 227);
    border:1px solid rgb(121, 118, 118);
    border-radius: 5px;
    background-color: rgb(145, 140, 140);
    text-align: center;
}

#calculateAnswer{
    width: 60px;
    height: 80px;
    font-size: 24px;
    border-radius: 5px;
    background-color: rgb(109, 149, 174);
}

#pastCaluculations{
    display:block;
    padding-top: 2px;
}

#clearHistory{
    width: 240px;
    height: 35px;
    font-size: 24px;
    border-radius: 5px;
    background-color: rgb(109, 149, 174); 
}